
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');

/*
  Background
*/
.container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #daeced;
}

/*
  Contains the Race & Chat buttons
*/
.buttonCont {
  position: absolute;
  top: 40%;
  left: 33%;
  text-align: center;
  height: 100px;
  width: 500px;
}

/*
  Race button
*/
.race {
  position: absolute;
  left: 22%;
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  font-family: "Hind Vadodara", Times, serif;
}
.race:hover {
  color: white;
  background-color: red;
}

/*
  Chat button
*/
.chat {
  position: absolute;
  color: white;
  background-color: green;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  font-family: "Hind Vadodara", Times, serif;
}
.chat:hover {
  color: white;
  background-color: red;
}

/*
  "Home Page" text
*/
.text {
  display: block;
  text-align: center;
  color: black;
  font-family: "Racing Sans One", cursive;
  font-size: 75px;
}

/*
  Logout button details
*/
.logOut {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  background-color: red;
  border-radius: 10px;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  font-family: "Hind Vadodara", Times, serif;
}
.logOut:hover {
  color: white;
  background-color: green;
}

/*
  Finish line pattern details
*/
.finishLine {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 30%;
  left: 0px;
  background-color: #000000;
}

#square1 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  top: 0px;
  left: 0px;
}

#square2 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  bottom: 0px;
  left: 12.5%;
}

#square3 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  top: 0px;
  left: 25%;
}

#square4 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  bottom: 0px;
  left: 37.5%;
}

#square5 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  top: 0px;
  left: 50%;
}

#square6 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  bottom: 0px;
  left: 62.5%;
}

#square7 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  top: 0px;
  left: 75%;
}

#square8 {
  position: absolute;
  width: 12.5%;
  height: 50%;
  background-color: #FFFFFF;
  bottom: 0px;
  left: 87.5%;
}
