<html>
    <body>
        <table>
          <tr>
            <th>Username</th>
            <th>Login count</th>
          </tr>
          <% if(results.length){
            for(var i = 0;i < data.length;i++) { %>
          <tr>
            <td><%=results.username%></td>
            <td><%=results.logincount%></td>
          </tr>
           <% }
          }else{ %>
          <tr>
            <td>No user</td>
          </tr>
        <% } %>
        </table>
    </body>
</html>
